<% cache ['month', month, resource] do %>
  <% federal_state = resource %>
  <% city = nil %>
  <% school = nil %>

  <% if resource.class == City %>
    <% federal_state = resource.federal_state %>
    <% city = resource %>
  <% end %>
  <% if resource.class == School %>
    <% federal_state = resource.city.federal_state %>
    <% city = resource.city %>
    <% school = resource %>
  <% end %>

  <% days = month.days.order(:value).reverse_order %>
  <% if days.last.wday == 0 %>
    <% 6.times{days.push(nil)} %>
  <% elsif days.last.wday > 1 %>
    <% (days.last.wday - 1).times{days.push(nil)} %>
  <% end %>
  <% days = days.reverse %>
  <% if (days.count % 7) != 0 %>
    <% (7 - (days.count % 7)).times{days.push(nil)} %>
  <% end %>

  <% cache ['month calendar header', month] do %>
    <div class="row">
      <div class="col-xs-8">
        <h3><%= I18n.t("date.month_names")[month.value] %></h3>
      </div>
      <div class="col-xs-4">
        <h3 class="text-muted"><%= month.year %></h3>
      </div>
    </div>
  <% end %>

  <table class="table table-condensed">
    <% cache ['month calendar weekdays row', month.days.first.wday] do %>
      <thead>
        <tr>
          <% [1,2,3,4,5,6,0].each do |weekday| %>
            <th class="<%= (WEEKEND_WDAYS.include?(weekday) ? 'active' : '') %>"><%= I18n.t("date.abbr_day_names")[weekday] %>.</th>    
          <% end %>
        </tr>
      </thead>
    <% end %>
    <tbody>
      <% days.each_slice(7).to_a.each do |week| %>
        <tr>
          <% week.each do |day| %>
            <% css_class = nil %>
            <% if day.nil? %>
              <td></td>
            <% else %>
              <% if WEEKEND_WDAYS.include?(day.wday) || day.slots.where(vacation_type_id: VacationType.where(public_holiday: true)).where(slotable: federal_state).any? %>
                <% css_class = 'active' %>
              <% else %>
                <% if day.slots.where(slotable: federal_state).any? %>
                  <% css_class = 'success' %>
                <% elsif day.is_beweglicher_ferientag?(resource) %>
                  <% css_class = 'warning' %>
                <% end %>
              <% end %>

              <td class="text-right <%= css_class ? css_class : '' %>"><%= day %></td>
            <% end %>

          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render partial: "federal_states/vacation_periods", locals: {federal_state: federal_state, days: month.days} %>

  <%= render partial: "federal_states/long_weekend_public_holiday_vacation_periods", locals: {federal_state: federal_state, month: month} %>

  <%= render partial: "cities/bewegliche_ferientage", locals: {city: city, month: month} %>

  <%= render partial: "federal_states/public_holiday_vacation_periods", locals: {federal_state: federal_state, month: month} %>
<% end %>