<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @month.value %>
</p>

<p>
  <strong>Year:</strong>
  <%= @month.year %>
</p>

<%= link_to 'Edit', edit_month_path(@month) %> |
<%= link_to 'Back', months_path %>
