<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @slot.event %>
</p>

<p>
  <strong>Day:</strong>
  <%= @slot.day %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
