<h1>Listing min_maxes</h1>

<table>
  <thead>
    <tr>
      <th>Number of vacation days</th>
      <th>Slug</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @min_maxes.each do |min_max| %>
      <tr>
        <td><%= min_max.number_of_vacation_days %></td>
        <td><%= min_max.slug %></td>
        <td><%= link_to 'Show', min_max %></td>
        <td><%= link_to 'Edit', edit_min_max_path(min_max) %></td>
        <td><%= link_to 'Destroy', min_max, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Min max', new_min_max_path %>
