<%# breadcrumb :min_max, @min_max %>

<% content_for :meta_description do %>
Zur optimalen Ausnutzung von <%= pluralize(@min_max.number_of_vacation_days, 'Urlaubstag', 'Urlaubstagen') %> in <%= @year %> für <%= @federal_state %> sollten Sie Ihren Urlaub in den folgenden Monaten nehmen: <%= @months.map{ |month| "#{I18n.t("date.month_names")[month.value]} (#{(month.days.where.not(id: @weekend_days.pluck(:id)).where.not(id: @federal_state_public_holiday_days.pluck(:id)).where.not(id: @public_holiday_days.pluck(:id))).count} Werktage)" }.join(', ') %><% end %>
<% content_for :html_title do %>
Optimale Ausnutzung von <%= pluralize(@min_max.number_of_vacation_days, 'Urlaubstag', 'Urlaubstagen') %> in <%= @year %> für <%= @federal_state %>.<% end %>

<% content_for :twitter_card do %>
  <% cache ['Twitter Card', @federal_state, @year] do %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mehrschulferien">
    <meta name="twitter:creator" content="@mehrschulferien">
    <meta name="twitter:title" content="Optimierung von <%= pluralize(@min_max.number_of_vacation_days, 'Urlaubstag', 'Urlaubstagen') %> in <%= @year %> für <%= @federal_state %>.">
    <meta name="twitter:description" content="Zur optimalen Ausnutzung von <%= pluralize(@min_max.number_of_vacation_days, 'Urlaubstag', 'Urlaubstagen') %> in <%= @year %> für <%= @federal_state %> sollten Sie Ihren Urlaub in den folgenden Monaten nehmen: <%= @months.map{ |month| "#{I18n.t("date.month_names")[month.value]} (#{(month.days.where.not(id: @weekend_days.pluck(:id)).where.not(id: @federal_state_public_holiday_days.pluck(:id)).where.not(id: @public_holiday_days.pluck(:id))).count} Werktage)" }.join(', ') %>">
  <% end %>
<% end %>

<div class="page-header">
  <h1><%= pluralize(@min_max.number_of_vacation_days, 'Tag', 'Tage') %> Urlaub optimal ausnutzen<br><small><%= @federal_state %> <%= @year %></small></h1>
</div>

<div class="row">
  <div class="col-sm-9">
    <p>Unter Berücksichtigung von <%= pluralize(@federal_state_public_holiday_days.count, 'Feiertag', 'Feiertagen') %> in <%= @federal_state %> und zusätzlich <%= pluralize(@public_holiday_days.count, 'bundesweiten Feiertag', 'bundesweiten Feiertagen') %> sollten Sie Ihre <%= pluralize(@min_max.number_of_vacation_days, 'Tag', 'Tage') %> Urlaub in den folgenden Monaten nehmen:</p>
    <ul class="pager">
      <% if MinMax.where(number_of_vacation_days: (@min_max.number_of_vacation_days - 1)).any? %>
        <li class="previous"><%= link_to federal_state_year_min_max_path(@federal_state, @year,MinMax.where(number_of_vacation_days: (@min_max.number_of_vacation_days - 1)).first) do %>&larr; <%= pluralize((@min_max.number_of_vacation_days - 1), 'Tag', 'Tage') %><% end %></li>
      <% end %>
      <% if MinMax.where(number_of_vacation_days: (@min_max.number_of_vacation_days + 1)).any? %>
        <li class="next"><%= link_to federal_state_year_min_max_path(@federal_state, @year,MinMax.where(number_of_vacation_days: (@min_max.number_of_vacation_days + 1)).first) do %><%= pluralize((@min_max.number_of_vacation_days + 1), 'Tag', 'Tage') %> &rarr;<% end %></li>
      <% end %>
    </ul>
      <% @months.each_slice(3) do |month_per_row| %>
        <div class="row hidden-sm">
          <% month_per_row.each do |month| %>
            <div class="col-md-4">
              <%= render partial: '/shared/min_max_month', locals: {month: month} %>        
            </div>
          <% end %>
        </div>
      <% end %>
      <% @months.each_slice(2) do |month_per_row| %>
        <div class="row visible-sm">
          <% month_per_row.each do |month| %>
            <div class="col-sm-6">
              <%= render partial: '/shared/min_max_month', locals: {month: month} %>        
            </div>
          <% end %>
        </div>
      <% end %>

  </div>
  <div class="col-sm-3">
    <%= render 'shared/panels/social_media' %>

    <%= render 'shared/panels/version_info' %>

    <% cache ['Verlorene Feiertage', @federal_state, @year] do %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Verlorene Feiertage</strong></div>
        <div class="panel-body">
          <p>Von den insgesamt <%= (@federal_state_public_holiday_days.count + @public_holiday_days.count).to_s %> - in <%= @federal_state %> - zur Verfügung stehenden Feiertagen im Jahr <%= @year %> fallen <%= (@weekend_days.where(id: @federal_state_public_holiday_days.pluck(:id)).count + @weekend_days.where(id: @public_holiday_days.pluck(:id)).count).to_s %> in ein Wochenende.</p>
        </div>
      </div>
    <% end %>

    <%= render 'shared/panels/spickzettel' %>
  </div>
</div>