<h1>Listing school_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_types.each do |school_type| %>
      <tr>
        <td><%= school_type.name %></td>
        <td><%= link_to 'Show', school_type %></td>
        <td><%= link_to 'Edit', edit_school_type_path(school_type) %></td>
        <td><%= link_to 'Destroy', school_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School type', new_school_type_path %>
