<% cache([months, federal_state, religion, modus]) do %>
  <% if modus.blank? %>
    <% months.map{|m| m.events.where(eventable: federal_state).where(religion: [nil, religion]).where(event_type: EventType.find_by_name('Ferien'))}.flatten.uniq.each do |event| %>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "<%= event.summary %>",
        "startDate" : "<%= event.starts_on.to_time.utc.iso8601 %>",
        "endDate" : "<%= event.ends_on.to_time.utc.iso8601 %>",
        "location" : {
          "@type" : "Place",
          "name" : "<%= federal_state %>",
          "address" : "<%= federal_state %>, <%= federal_state.country %>"
        }
      }
    </script>
    <% end %>
  <% end %>

  <ol class="breadcrumb">
    <li><%= link_to "Startseite", root_path %></li>
    <li class="active"><%= federal_state.name %></li>
  </ol>

  <div class="page-header">
    <h1>
      <% if modus == 'invers' %>
      Invers-Ansicht
      <% end %>
      Schulferien <%= federal_state %>
      <% if religion %>
        <small><%= religion.name %></small>
      <% end %>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <% if religions && religions.any? %>
        <p>
        <% if religion %>
          <%= link_to "Ohne Angabe", federal_state, class: "btn btn-sm btn-default" %>
        <% end %>
        <% religions.each do |r| %>
          <% if defined? year %>
            <% if religion == r %>
              <%= link_to religion, federal_state_year_religion_path(federal_state, year, r), class: "btn btn-sm btn-default", disabled: true %>
            <% else %>
              <%= link_to religion, federal_state_religion_path(federal_state, religion), class: "btn btn-sm btn-default" %>
            <% end %>
          <% else %>
            <% if religion == r %>
              <%= link_to r, federal_state_religion_path(federal_state, r), class: "btn btn-sm btn-default", disabled: true %>
            <% else %>
              <%= link_to r, federal_state_religion_path(federal_state, r), class: "btn btn-sm btn-default" %>
            <% end %>
          <% end %>
        <% end %>
        </p>
      <% end %>

      <% if modus == 'invers' %>
        <p>
          Diese Seite zeigt alle <strong>Nicht-Schultage mit der Farbe grün </strong>an. Zu diesen Terminen kann man normalerweise günstiger Urlaubsreisen buchen.
          <%= link_to "Zur Normal-Ansicht.", federal_state_path(federal_state) %>
        </p>
      <% else %>
        <p><strong>Tipp für Nicht-Schüler/Eltern:</strong>
          <%= link_to "Invers-Ansicht, um günstige Urlaubstermine zu finden.", federal_state_filter_path(federal_state, Filter.find_by_name('Invers')) %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <%= render partial: "shared/ad" rescue nil%>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/months_matrix", locals: {months: months, federal_state: federal_state, religion: religion, modus: modus} %>
  </div>
</div>
