<p id="notice"><%= notice %></p>

<h1>Listing Federal States</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Name</th>
      <th>Slug</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @federal_states.each do |federal_state| %>
      <tr>
        <td><%= federal_state.country %></td>
        <td><%= federal_state.name %></td>
        <td><%= federal_state.slug %></td>
        <td><%= federal_state.url %></td>
        <td><%= link_to 'Show', federal_state %></td>
        <td><%= link_to 'Edit', edit_federal_state_path(federal_state) %></td>
        <td><%= link_to 'Destroy', federal_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Federal state', new_federal_state_path %>
