<% breadcrumb :federal_state, @federal_state %>

<% content_for :meta_description do %>
Schulferien in den nächsten 18 Monaten im Bundesland <%= @federal_state %>.
<% end %>
<% content_for :html_title do %>
Schulferien in den nächsten 18 Monaten im Bundesland <%= @federal_state %>.
<% end %>

<div class="page-header">
  <h1><%= @federal_state %> <br class="visible-xs"><small>18-Monats-Übersicht</small></h1>
</div>

<div class="row">
  <div class="col-sm-9">
    <% cache [@federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, federal_state: @federal_state} %>
    <% end %>
  </div>
  <div class="col-sm-3">

    <% cache ['Kalender Panel', @federal_state, available_years] do %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Kalender</strong></div>
        <div class="panel-body">
          <div class="btn-group-vertical">
            <% available_years.each do |year| %>
              <%= link_to year, federal_state_year_path(@federal_state, year), class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render partial: "federal_states/table_of_cities_panel", locals: {federal_state: @federal_state} %>
    <%= render 'shared/roadmap' %>
  </div>
</div>