<% breadcrumb :federal_state, @federal_state %>

<% content_for :meta_description do %>
Schulferien in den nächsten 18 Monaten im Bundesland <%= @federal_state %>.
<% end %>
<% content_for :html_title do %>
Schulferien in den nächsten 18 Monaten im Bundesland <%= @federal_state %>.
<% end %>

<div class="page-header">
  <h1><%= @federal_state %> <br class="visible-xs"><small>18-Monats-Übersicht</small></h1>
</div>

<div class="row">
  <div class="col-sm-9">
    <% cache [@federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, federal_state: @federal_state} %>
    <% end %>
  </div>
  <div class="col-sm-3">

    <% cache ['Jahresliste Panel', @federal_state, available_years] do %>
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Jahre</strong></div>
        <div class="panel-body">
          <p>
            Bitte klicken Sie auf das gewünschte Jahr:
          </p>
          <ul>
            <% available_years.each do |year| %>
              <li><%= link_to year, federal_state_year_path(@federal_state, year) %></li>        
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <% cache ['list_of_schools_sidebar', @federal_state] do %>
      <% if School.where(city_id: @federal_state.cities.pluck(:id)).any? %>
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Städte mit Schulen</strong></div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <% @federal_state.cities.order(:name).each do |city| %>
                <li><%= link_to "#{city.zip_code} #{city}", city %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>    

    <%= render 'shared/roadmap' %>

  </div>
</div>