<% if @last_federal_state || @last_school %>
  <% cache ['Spickzettel', @last_federal_state, @last_school] do %>
    <div class="panel panel-default visible-sm">
      <div class="panel-heading"><strong>Spickzettel</strong></div>
      <div class="panel-body">
        <div class="btn-group-vertical">
          <% if @last_federal_state %>
            <%= link_to @last_federal_state, class: 'btn btn-default' do %>
              <%= truncate(@last_federal_state.to_s, length: 15) %>
            <% end %>
          <% end %>

          <% if @last_school %>
            <%= link_to @last_school, class: 'btn btn-default' do %>
              <%= truncate(@last_school.to_s, length: 15) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-default visible-md">
      <div class="panel-heading"><strong>Spickzettel</strong></div>
      <div class="panel-body">
        <div class="btn-group-vertical">
          <% if @last_federal_state %>
            <%= link_to @last_federal_state, class: 'btn btn-default' do %>
              <%= truncate(@last_federal_state.to_s, length: 20) %>
            <% end %>
          <% end %>

          <% if @last_school %>
            <%= link_to @last_school, class: 'btn btn-default' do %>
              <%= truncate(@last_school.to_s, length: 20) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="panel panel-default visible-lg">
      <div class="panel-heading"><strong>Spickzettel</strong></div>
      <div class="panel-body">
        <div class="btn-group-vertical">
          <% if @last_federal_state %>
            <%= link_to @last_federal_state, class: 'btn btn-default' do %>
              <%= truncate(@last_federal_state.to_s, length: 25) %>
            <% end %>
          <% end %>

          <% if @last_school %>
            <%= link_to @last_school, class: 'btn btn-default' do %>
              <%= truncate(@last_school.to_s, length: 25) %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>