<div class="row">
  <div class="col-sm-12">
<h1>Page#about_us</h1>
<p>Find me in app/views/page/about_us.html.erb</p>

<ul>
  <% @federal_states.each do |federal_state| %>
    <li>
      <%= federal_state %><br>
      <% if federal_state.cities.any? %>
        Für folgende Städte in <%= federal_state %> gibt es Detailansichten:
        <% federal_state.cities.each do |city| %>
          <% if city == federal_state.cities[federal_state.cities.count - 2] %>
            <%= link_to city, city %> und
          <% else %>
            <% if city == federal_state.cities.last %>
              <%= link_to city, city %>.
            <% else %>
              <%= link_to city, city %>,
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
</div>
</div>
