<% content_for :html_description do %>
Schulferienkalender <%= Date.today.year %>-<%= @years.last %> für alle Bundesländer (inkl. Sonderregelungen für <%= Religion.pluck(:name).join(', ') %>).<% end %>
<div class="page-header">
  <h1>Schulferienkalender</h1>
</div>
<div class="row">
  <div class="col-sm-6">
<p><%= link_to "Open-Source-Projekt", "https://github.com/wintermeyer/mehr-schulferien.de"%> für eine schnelle und barrierefreie Übersicht der Schulferien und Feiertagen (inkl. Sonderregelungen für verschiedene Religionen).</p>
  </div>
  <div class="col-sm-6">
    <%= render partial: "shared/ad" rescue nil%>
  </div>
</div>

<% cache(['shared/table_of_years', cache_key_for_years, cache_key_for_federal_states]) do %>
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "shared/table_of_years", locals: {years: @years, federal_states: @federal_states, modus: nil} %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>Invers-Ansicht</h2>
      <p>Diese Ansicht eignet sich besonders für Nicht-Eltern, die ausserhalb der normalen Schulferien günstig Urlaub buchen möchten.</p>
      <%= render partial: "shared/table_of_years", locals: {years: @years, federal_states: @federal_states, modus: 'invers'} %>
    </div>
  </div>
<% end %>
