<% content_for :meta_description do %>
Status Seite
<% end %>
<% content_for :html_title do %>
Status Seite
<% end %>

<div class="page-header">
  <h1>Status</h1>
</div>

<div class="row">
  <div class="col-sm-9">
    <% if current_user %>
      <% if @schools.any? %>
        <p>Sie haben Daten der folgenden Schulen verändert:</p>
        <ul>
          <% @schools.each do |school| %>
            <li><%= link_to truncate(school.to_s, length: 60), school %></li>
          <% end %>
        </ul>
      <% else %>
        <p>In zukünftigen Software-Versionen sollen hier die von Ihnen vorgenohmenen Veränderungen aufgelistet werden.</p>
      <% end %>
    <% else %>
      <p>Sie sind nicht eingeloggt.</p>
    <% end %>
  </div>
  <div class="col-sm-3">
    <% if current_user %>
      <div class="panel panel-default">
        <%= render 'shared/panels/version_info' %>

        <div class="panel-heading"><strong>Ihr Account</strong></div>
        <div class="panel-body">
          <dl>
            <dt>Vorname:</dt>
            <dd><%= truncate(current_user.first_name, length: 25) %></dd>
          </dl>
          <dl>
            <dt>Nachname:</dt>
            <dd><%= truncate(current_user.last_name, length: 25) %></dd>
          </dl>
          <dl>
            <dt>E-Mail:</dt>
            <dd><%= truncate(current_user.email, length: 25) %></dd>
          </dl>
          <%= link_to 'Logout', '/logout', class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>