<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @day.value %>
</p>

<p>
  <strong>Month:</strong>
  <%= @day.month %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
