<p>
  <strong>Value:</strong>
  <%= @day.value %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @day.slug %>
</p>

<p>
  <strong>Month:</strong>
  <%= @day.month_id %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
