<div class="page-header">
  <h1>Schulen in <%= @city.name %> <small><%= link_to @city.federal_state, @city.federal_state %></small></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Homepage</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr>
        <td><%= school.name %></td>
        <td><%= link_to school.homepage.gsub(/http:\/\//,'').gsub(/www\./,'').gsub(/\/$/,''), school.homepage %></td>
        <td>
        <%= link_to school, class: 'btn btn-default pull-right' do %>
          <span class="glyphicon glyphicon-calendar"></span> 18-Monats-Übersicht
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
