<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @school %> <small>18-Monats-Übersicht</small></h1>
</div>

<div class="row">
  <div class="col-sm-9">
    <% cache [@city.federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, federal_state: @city.federal_state} %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">Adresse</div>
      <div class="panel-body">
        <address>
          <strong><%= @school.address_line1 %></strong><br>
          <%= @school.street %><br>
          <%= "#{@school.zip_code} #{@school.address_city_name}" %><br>
          <% if @school.phone_number %>
            Tel. <%= link_to @school.phone_number, "tel:#{@school.phone_number}" %><br>
          <% end %>
          <% if @school.fax_number %>
            Fax. <%= @school.fax_number %><br>
          <% end %>
        </address>
        <% if @school.email %>
          <p>
            <strong>E-Mail:</strong><br><%= mail_to @school.email, @school.email %>
          </p>
        <% end %>
        <% if @school.homepage %>
          <p>
            <strong>Homepage:</strong><br><%= link_to @school.homepage.gsub(/http:\/\//,'').gsub(/www\./,'').gsub(/\/$/,''), @school.homepage %>
          </p>
        <% end %>
      </div>
    </div>

    <% if @school.city.schools.count > 1 %>
      <div class="panel panel-default">
        <div class="panel-heading">Weitere Schulen in <%= @city %></div>
        <div class="panel-body">
          <ul>
            <% @city.schools.where.not(id: @school.id).order(:name).each do |school| %>
              <li><%= link_to school, city_school_path(@city, school) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
