<% breadcrumb :school, @school %>

<% content_for :meta_description do %>
Schulferien in den nächsten 18 Monaten für die Schule <%= @school %> aus <%= @school.city %>.
<% end %>
<% content_for :html_title do %>
Schulferien in den nächsten 18 Monaten für die Schule <%= @school %> aus <%= @school.city %>.
<% end %>

<div class="page-header">
  <% if @school.to_s.size < 30 %>
    <h1><%= @school %> <br class="visible-xs"><small>18-Monats-Übersicht</small></h1>
  <% else %>
    <h1><%= truncate(@school.to_s, length: 45) %><br><small>18-Monats-Übersicht</small></h1>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-9">
    <%# cache [@school.city.federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, resource: @school} %>
    <%# end %>
  </div>
  <div class="col-sm-3">
    <%= render 'shared/panels/social_media' %>
    
    <div class="hidden-xs">
      <a href="https://maps.google.com/maps?q=<%= "#{URI.encode(@school.komma_seperated_address)}" %>&hl=de&t=m" class="thumbnail">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= URI.encode(@school.komma_seperated_address) %>&markers=color:blue%7Clabel:S%7C<%= URI.encode(@school.komma_seperated_address) %>&zoom=12&size=300x300&sensor=false" alt="Google Maps Landkarte mit der Position dieser Schule">
      </a>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Adresse</div>
      <div class="panel-body">
        <address>

          <strong><%= @school.address_line1 %></strong><br>
          <%= @school.street %><br>
          <%= "#{@school.zip_code} #{@school.address_city_name}" %><br>
          <% if !@school.phone_number.blank? %>
            Tel. <%= link_to @school.phone_number, "tel:#{@school.phone_number}" %><br>
          <% end %>
          <% if !@school.fax_number.blank? %>
            Fax. <%= @school.fax_number %><br>
          <% end %>
        </address>
        <% if !@school.email.blank? %>
          <p>
            <strong>E-Mail:</strong><br><%= mail_to @school.email, @school.email %>
          </p>
        <% end %>
        <% if !@school.homepage.blank? %>
          <p>
            <strong>Homepage:</strong><br><%= link_to @school.homepage.gsub(/http:\/\//,'').gsub(/www\./,'').gsub(/\/$/,''), @school.homepage %>
          </p>
        <% end %>
        <p><strong>vCard:</strong><br><%= link_to school_path(@school, format: :vcf) do %>
        <span class="glyphicon glyphicon-download"></span> Download vcard (vcf)
        <% end %>
        </p>

        <p class="pull-right">
          <%= link_to edit_school_path(@school) do %>
            <span class="glyphicon glyphicon-edit"></span> Eintrag editieren
          <% end %>
        <p>
      </div>
    </div>

    <% if @school.city.schools.count > 1 %>
      <div class="panel panel-default">
        <div class="panel-heading">Weitere Schulen in <%= @school.city %></div>
        <div class="panel-body">
          <ul>
            <% @school.city.schools.where.not(id: @school.id).order(:name).each do |school| %>
              <li><%= link_to school, school %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
