<% content_for :html_description do %><%= @html_description %><% end %>
<% content_for :html_title do %><%= @html_title %><% end %>

  <ol class="breadcrumb">
    <li><%= link_to "Startseite", root_path %></li>
    <li><%= link_to @federal_state, @federal_state %></li>
    <li class="active"><%= @city %></li>
  </ol>

  <div class="page-header">
    <h1>
      Schulferien <%= @city %>
      <small class="hidden-xs"><%= @city.federal_state %></small>
    </h1>
  </div>

  <%= render partial: "shared/alerts/no_holidays_in_database", locals: {year: @year, federal_state: @federal_state} %>

  <div class="row">
    <div class="col-md-8">
      <p>Für die Urlaubsplanung von Nicht-Eltern/Schülern finden Sie in der <%= link_to "Invers-Ansicht von #{@city.federal_state}", federal_state_path(@federal_state, modus: 'invers') %> eine Übersicht, die Ihnen die Zeiten mit den günstigsten Reiseterminen darstellt.</p>
    </div>
    <div class="col-md-4">
      <%= render partial: "shared/ad" rescue nil%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <%= render partial: "shared/months_matrix", locals: {months: @months, federal_state: @federal_state, religion: @religion, modus: @modus, year: @year} %>
    </div>
    <div class="col-md-3">
      <p>
        <a href="https://maps.google.com/maps?q=<%= "#{URI.encode(@city.komma_seperated_address)}" %>&hl=de&t=m" class="thumbnail">
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= URI.encode(@city.komma_seperated_address) %>&markers=color:blue%7C<%= URI.encode(@city.komma_seperated_address) %>&zoom=10&size=250x250&sensor=false" alt="Google Maps Landkarte mit der Position dieser Stadt." width="250" height="250">
        </a>
      </p>
      <% if @city.schools.any? %>
        <h2>Schulen</h2>
        <ul>
          <% @city.schools.each do |school| %>
            <li><%= link_to school, school %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
