<h1>Listing vacation_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vacation_types.each do |vacation_type| %>
      <tr>
        <td><%= vacation_type.name %></td>
        <td><%= vacation_type.slug %></td>
        <td><%= link_to 'Show', vacation_type %></td>
        <td><%= link_to 'Edit', edit_vacation_type_path(vacation_type) %></td>
        <td><%= link_to 'Destroy', vacation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacation type', new_vacation_type_path %>
