<% cache([months, federal_state, religions, religion, modus]) do %>
  <ol class="breadcrumb">
    <li><%= link_to "Startseite", root_path %></li>
    <% if year %>
      <li><%= link_to federal_state, federal_state %></li>
      <li class="active"><%= year %></li>
    <% else %>
      <li class="active"><%= federal_state.name %></li>
    <% end %>
  </ol>

  <div class="page-header">
    <h1>
      <% if modus == 'invers' %>
      Invers-Ansicht
      <% end %>
      Schulferien <%= federal_state %> <%= year %>
      <% if religion %>
        <small><%= religion.name %></small>
      <% end %>
    </h1>
  </div>

  <% if year && federal_state.events.where(starts_on: Date.parse("01.01.#{year.value}")..Date.parse("31.12.#{year.value}")).where(event_type: EventType.find_by_name('Feiertage')).none? %>
    <div class="alert alert-danger" role="alert">Für diesen Zeitraum wurden noch keine gesetzlichen Feiertage hinterlegt.</div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <% if religions && religions.any? %>
        <div class="row">
          <div class="col-sm-12">
            <p>
            <% if religion %>
              <% if year %>
                <%= link_to "Ohne Angabe", federal_state_year_path(federal_state, year), class: "btn btn-sm btn-default" %>
              <% else %>
                <%= link_to "Ohne Angabe", federal_state, class: "btn btn-sm btn-default" %>
              <% end %>
            <% end %>
            <% religions.each do |r| %>
              <% if year %>
                <% if religion == r %>
                  <%= link_to r, federal_state_year_religion_path(federal_state, year, r), class: "btn btn-sm btn-default", disabled: true %>
                <% else %>
                  <%= link_to r, federal_state_religion_path(federal_state, r), class: "btn btn-sm btn-default" %>
                <% end %>
              <% else %>
                <% if religion == r %>
                  <%= link_to r, federal_state_religion_path(federal_state, r), class: "btn btn-sm btn-default", disabled: true %>
                <% else %>
                  <%= link_to r, federal_state_religion_path(federal_state, r), class: "btn btn-sm btn-default" %>
                <% end %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
      <% end %>

      <% if modus == 'invers' %>
        <p>
          Diese Seite zeigt alle <strong>Nicht-Schultage mit der Farbe grün </strong>an. Zu diesen Terminen kann man normalerweise günstiger Urlaubsreisen buchen.
          <%= link_to "Zur Normal-Ansicht.", federal_state_year_path(federal_state, year) %>
        </p>
      <% else %>
        <p>
          <strong>Tipp für Nicht-Schüler/Eltern:</strong>
          <%= link_to "Invers-Ansicht, um günstige Urlaubstermine zu finden.", federal_state_year_filter_path(federal_state, year, Filter.find_by_name('Invers')) %>
        </p>
        <p class="hidden-xs">
          Die drei längsten (inkl. angrenzender Wochenenden und Feiertage) Ferientermine im Jahr:<br><%= year.events.where(eventable: federal_state).where(event_type: EventType.find_by_name('Ferien')).where(religion: nil).to_a.uniq.sort_by!{|e| e.total_number_of_non_school_days(federal_state)}.reverse[0,3].map{|e| "#{e.summary} #{I18n.l(e.starts_on, format: :short).strip} - #{I18n.l(e.ends_on, format: :short).strip} (#{e.total_number_of_non_school_days(federal_state)} Tage)"}.join(', ') %>
        </p>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= render partial: "shared/ad" rescue nil%>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/months_matrix", locals: {months: months, federal_state: federal_state, religion: religion, modus: modus, year: year} %>
  </div>
</div>
