<% breadcrumb :federal_state, @federal_state %>

<% content_for :meta_description do %>
Schulferienkalenderjahre für das Bundesland <%= @federal_state %>.
<% end %>
<% content_for :html_title do %>
Schulferienkalenderjahre für das Bundesland <%= @federal_state %>.
<% end %>

<div class="page-header">
  <h1>Schulferienkalenderjahre<br><small><%= @federal_state %></small></h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Jahr</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @years.each do |year| %>
      <tr>
        <td><%= year.value %></td>
        <td><%= link_to 'Show', federal_state_year_path(@federal_state, year), class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
