<% content_for :html_description do %><%= @html_description %><% end %>
<% content_for :html_title do %><%= @html_title %><% end %>

<% cache([@months, @federal_state, @religion, @modus]) do %>
  <ol class="breadcrumb">
    <li><%= link_to "Startseite", root_path %></li>
    <% if @year %>
      <li><%= link_to @federal_state, @federal_state %></li>
      <li class="active"><%= @year %></li>
    <% else %>
      <li class="active"><%= @federal_state.name %></li>
    <% end %>
  </ol>

  <div class="page-header">
    <h1>
      <% if @modus == 'invers' %>
      Invers-Ansicht
      <% end %>
      Schulferien <%= @federal_state %>
      <% if @religion %>
        <small><%= @religion.name %></small>
      <% end %>
    </h1>
  </div>

  <% if @year && @federal_state.events.where(starts_on: Date.parse("01.01.#{@year.value}")..Date.parse("31.12.#{@year.value}")).where(event_type: EventType.find_by_name('Feiertage')).none? %>
    <div class="alert alert-danger" role="alert">Für diesen Zeitraum wurden noch keine gesetzlichen Feiertage hinterlegt.</div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <% if @religions && @religions.any? %>
        <div class="row">
          <div class="col-sm-12">
            <p>
            <% if @religion %>
              <% if @year %>
                <%= link_to "Ohne Angabe", federal_state_year_path(@federal_state, @year), class: "btn btn-sm btn-default" %>
              <% else %>
                <%= link_to "Ohne Angabe", @federal_state, class: "btn btn-sm btn-default" %>
              <% end %>
            <% end %>
            <% @religions.each do |religion| %>
              <% if @year %>
                <% if religion == @religion %>
                  <%= link_to religion, federal_state_year_religion_path(@federal_state, @year, religion), class: "btn btn-sm btn-default", disabled: true %>
                <% else %>
                  <%= link_to religion, federal_state_religion_path(@federal_state, religion), class: "btn btn-sm btn-default" %>
                <% end %>
              <% else %>
                <% if religion == @religion %>
                  <%= link_to religion, federal_state_religion_path(@federal_state, religion), class: "btn btn-sm btn-default", disabled: true %>
                <% else %>
                  <%= link_to religion, federal_state_religion_path(@federal_state, religion), class: "btn btn-sm btn-default" %>
                <% end %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
      <% end %>

      <% if @modus == 'invers' %>
        <p>
          Diese Seite zeigt alle <strong>Schultage mit der Farbe grün </strong>an. Zu diesen Terminen kann man normalerweise günstiger Urlaubsreisen buchen.
          <% if @year %>
            <%= link_to "Zur Normal-Ansicht.", federal_state_year_path(@federal_state, @year) %>
          <% else %>
            <%= link_to "Zur Normal-Ansicht.", federal_state_path(@federal_state) %>
          <% end %>
        </p>
      <% else %>
        <p><strong>Alternative Ansicht:</strong>
          <% if @year %>
            <%= link_to "Invers (zur optimalen Urlaubsplanung)", federal_state_year_path(@federal_state, @year, modus: 'invers') %>
          <% else %>
            <%= link_to "Invers (zur optimalen Urlaubsplanung)", federal_state_path(@federal_state, modus: 'invers') %>
          <% end %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= render partial: "shared/ad" rescue nil%>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render partial: "shared/months_matrix", locals: {months: @months, federal_state: @federal_state, religion: @religion, modus: @modus} %>
  </div>
</div>
