<% content_for :html_description do %>
<% next_event = @federal_state.events.where(event_type: EventType.find_by_name('Ferien')).where(starts_on: (Date.today..Date.today+3.months)).order(:starts_on).first %>
<% if @modus == 'invers' %>
Optimale Urlaubsplanung für Nicht-Eltern mit der Invers-Ansicht <% end %>Schulferienkalender <% if @year %><%= @year %><% else %><%= Date.today.year %>-<%= Date.today.year + 1 %><% end %> für <%= @federal_state %><% if @federal_state.events.where.not(religion: nil).any? %> (inkl. Sonderregelungen für <%= Religion.pluck(:name).join(', ') %>)<% end %>. <% if @year.value == Date.today.year %>Nächster Ferientermin: <%= next_event.summary %> <%= "#{I18n.l(next_event.starts_on, format: :short).strip}-#{I18n.l(next_event.ends_on, format: :short).strip}" %><% end %><% end %>

<% content_for :html_title do %>
<% if @modus == 'invers' %>
Invers-Ansicht
<% end %>
Schulferien <%= @federal_state %>
<% if @year %>
<%= @year %>
<% end %>
<% if @religion %>
  (<%= @religion.name %>)
<% end %>
<% end %>

<% cache([@months, @federal_state, @religion, @modus]) do %>
  <ol class="breadcrumb">
    <li><%= link_to "Startseite", root_path %></li>
    <% if @year %>
      <li><%= link_to @federal_state, @federal_state %></li>
      <li class="active"><%= @year %></li>
    <% else %>
      <li class="active"><%= @federal_state.name %></li>
    <% end %>
  </ol>

  <div class="page-header">
    <h1>
      <% if @modus == 'invers' %>
      Invers-Ansicht
      <% end %>
      Schulferien <%= @federal_state %>
      <% if @religion %>
        <small><%= @religion.name %></small>
      <% end %>
    </h1>
  </div>

  <% if @year && @federal_state.events.where(starts_on: Date.parse("01.01.#{@year.value}")..Date.parse("31.12.#{@year.value}")).where(event_type: EventType.find_by_name('Feiertage')).none? %>
    <div class="alert alert-danger" role="alert">Für diesen Zeitraum wurden noch keine gesetzlichen Feiertage hinterlegt.</div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
      <% if @religions && @religions.any? %>
        <div class="row">
          <div class="col-sm-12">
            <p>
            <% if @religion %>
              <% if @year %>
                <%= link_to "Ohne Angabe", federal_state_year_path(@federal_state, @year), class: "btn btn-sm btn-default" %>
              <% else %>
                <%= link_to "Ohne Angabe", @federal_state, class: "btn btn-sm btn-default" %>
              <% end %>
            <% end %>
            <% @religions.each do |religion| %>
              <% if @year %>
                <% if religion == @religion %>
                  <%= link_to religion, federal_state_year_religion_path(@federal_state, @year, religion), class: "btn btn-sm btn-default", disabled: true %>
                <% else %>
                  <%= link_to religion, federal_state_religion_path(@federal_state, religion), class: "btn btn-sm btn-default" %>
                <% end %>
              <% else %>
                <% if religion == @religion %>
                  <%= link_to religion, federal_state_religion_path(@federal_state, religion), class: "btn btn-sm btn-default", disabled: true %>
                <% else %>
                  <%= link_to religion, federal_state_religion_path(@federal_state, religion), class: "btn btn-sm btn-default" %>
                <% end %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
      <% end %>

      <% if @modus == 'invers' %>
        <p>
          Diese Seite zeigt alle <strong>Schultage mit der Farbe grün </strong>an. Zu diesen Terminen kann man normalerweise günstiger Urlaubsreisen buchen.
          <% if @year %>
            <%= link_to "Zur Normal-Ansicht.", federal_state_year_path(@federal_state, @year) %>
          <% else %>
            <%= link_to "Zur Normal-Ansicht.", federal_state_path(@federal_state) %>
          <% end %>
        </p>
      <% else %>
        <p><strong>Alternative Ansicht:</strong>
          <% if @year %>
            <%= link_to "Invers (zur optimalen Urlaubsplanung)", federal_state_year_path(@federal_state, @year, modus: 'invers') %>
          <% else %>
            <%= link_to "Invers (zur optimalen Urlaubsplanung)", federal_state_path(@federal_state, modus: 'invers') %>
          <% end %>
      <% end %>
    </div>
    <div class="col-sm-4">
      <%= render partial: "shared/ad" rescue nil%>
    </div>
  </div>
<% end %>

<% @months.each_slice(3) do |months_in_a_row| %>
  <% cache([months_in_a_row, @federal_state, @religion, @modus]) do %>
    <div class="row">
    <% months_in_a_row.each do |month| %>
      <div class="col-sm-4">
        <%= render partial: "shared/month", locals: {month: month, federal_state: @federal_state, religion: @religion, modus: @modus} %>

        <% if month.events.where(eventable: @federal_state).where(religion: [nil, @religion]).where(event_type: EventType.find_by_name('Ferien')).any? %>
          <% event_types = ['Ferien', 'Feiertage'] %>
        <% else %>
          <% event_types = ['Feiertage'] %>
        <% end %>

        <% if @modus == 'invers' %>
          <% event_types = ['Feiertage'] %>
        <% end %>

        <div class="row">
          <% event_types.each do |event_type| %>
            <div class="col-md-<%= 12 / event_types.size %>">
              <%= render partial: "shared/list_events", locals: {month: month, federal_state: @federal_state, religion: @religion, event_type: EventType.find_by_name(event_type), modus: @modus} %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>
