<% breadcrumb :federal_state, @federal_state %>

<% content_for :meta_description do %>
Schulferien in <%= @year %> für das Bundesland <%= @federal_state %>.
<% end %>
<% content_for :html_title do %>
Schulferienkalender <%= @year %> für das Bundesland <%= @federal_state %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="page-header">
  <div class="row">
    <div class="col-sm-8">
      <h1><%= @federal_state %></h1>
    </div>
    <div class="col-sm-4">
      <% cache ['Pagination years', available_years, @year, @federal_state] do %>
        <% pagination_years = available_years %>
        <ul class="pagination pull-right">
          <% if pagination_years.first == @year %>
            <li class="disabled"><a href="#">&laquo;</a></li>
          <% else %>
            <li><%= link_to federal_state_year_path(@federal_state, pagination_years[pagination_years.index(@year) - 1]) do %>&laquo;<% end %></li>
          <% end %>
          <% pagination_years.each do |pagination_year| %>
            <% if @year == pagination_year %>
              <li class='active'><%= link_to "#{pagination_year} ", federal_state_year_path(@federal_state, pagination_year) %></li>
            <% else %>
              <li><%= link_to "#{pagination_year} ", federal_state_year_path(@federal_state, pagination_year) %></li>
            <% end %>
          <% end %>
          <% if pagination_years.last == @year %>
            <li class="disabled"><a href="#">&laquo;</a></li>
          <% else %>
            <li><%= link_to federal_state_year_path(@federal_state, pagination_years[pagination_years.index(@year) + 1]) do %>&raquo;<% end %></li>
          <% end %>          
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <% cache [@federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, federal_state: @federal_state} %>
    <% end %>
  </div>
  <div class="col-sm-3">

    <% cache ['city_schools_sidebar', @federal_state] do %>
      <% schools = School.where(city_id: @federal_state.cities.pluck(:id)) %>
      <% if schools.any? %>
        <div class="panel panel-default">
          <div class="panel-heading"><strong>Städte mit Schulen</strong></div>
          <div class="panel-body">
            <table class="table">
              <thead><tr><th>PLZ</span></th><th>Ort <span class="glyphicon glyphicon-arrow-down"></span></th></tr></thead>
              <tbody>
                <% City.where(id: schools.pluck(:city_id)).order(:name).each do |city| %>
                  <tr>
                    <td><%= link_to city.zip_code, federal_state_city_path(@federal_state, city) %></td>
                    <td><%= link_to city, federal_state_city_path(@federal_state, city) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>    

    <%= render 'shared/roadmap' %>

  </div>
</div>