<% breadcrumb :federal_state, @federal_state %>

<% content_for :meta_description do %>
Schulferien in <%= @year %> für das Bundesland <%= @federal_state %>.
<% end %>
<% content_for :html_title do %>
Schulferienkalender <%= @year %> für das Bundesland <%= @federal_state %>
<% end %>

<% content_for :twitter_card do %>
  <% cache ['Twitter Card', @federal_state, @year] do %>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mehrschulferien">
    <meta name="twitter:creator" content="@mehrschulferien">
    <meta name="twitter:title" content="Schulferien in <%= @year %> für <%= @federal_state %>.">
    <meta name="twitter:description" content="Ein Ferienkalender für das Jahr <%= @year %> mit allen Schulferienterminen und Feiertagen für das Bundesland <%= @federal_state %>.">
  <% end %>
<% end %>

<div class="page-header">
  <div class="row">
    <div class="col-sm-8">
      <h1><%= @federal_state %> <br class="visible-xs"><small>Jan. - Dez. <%= @year %></small></h1>
    </div>
    <div class="col-sm-4">
      <% cache ['Pagination years', available_years, @year, @federal_state] do %>
        <% pagination_years = available_years %>
        <ul class="pagination pull-right">
          <% if pagination_years.first == @year %>
            <li class="disabled"><a href="#">&laquo;</a></li>
          <% else %>
            <li><%= link_to federal_state_year_path(@federal_state, pagination_years[pagination_years.index(@year) - 1]) do %>&laquo;<% end %></li>
          <% end %>
          <% pagination_years.each do |pagination_year| %>
            <% if @year == pagination_year %>
              <li class='active'><%= link_to "#{pagination_year} ", federal_state_year_path(@federal_state, pagination_year) %></li>
            <% else %>
              <li><%= link_to "#{pagination_year} ", federal_state_year_path(@federal_state, pagination_year) %></li>
            <% end %>
          <% end %>
          <% if pagination_years.last == @year %>
            <li class="disabled"><a href="#">&laquo;</a></li>
          <% else %>
            <li><%= link_to federal_state_year_path(@federal_state, pagination_years[pagination_years.index(@year) + 1]) do %>&raquo;<% end %></li>
          <% end %>          
        </ul>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <% cache ['Jahreskalender', @year, @federal_state, @months] do %>
      <%= render partial: "shared/calendar_18_months", locals: {months: @months, resource: @federal_state} %>
    <% end %>
  </div>
  <div class="col-sm-3">
    <%= render partial: "federal_states/table_of_cities_panel", locals: {federal_state: @federal_state} %>
    <%= render 'shared/roadmap' %>
  </div>
</div>