<!DOCTYPE html>
<html>
<head>
  <% if content_for? :html_title %>
    <title><%= yield :html_title %></title>
  <% else %>
    <title>Schulferienkalender</title>
  <% end %>
  <style>
    <% css = File.read("#{Rails.root}/public#{asset_path("application", type: :stylesheet)}") %>
    <%= css.html_safe %>
  </style>
  <%= csrf_meta_tags %>
</head>
<body role="document">
  <div class="container" role="main">
    <%= yield %>
  <hr />
  <p>
  Copyright 2014-<%= Date.today.year %> by <a href="http://www.wintermeyer.de">Stefan Wintermeyer</a>. Alle Angaben ohne Gewähr!<br>
  <small>Den Source-Code zu diesem Open-Source Projekt finden Sie auf <a href="https://github.com/wintermeyer/mehr-schulferien.de">https://github.com/wintermeyer/mehr-schulferien.de</a></small>
  </p>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-774512-9', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
  </script>
</body>
</html>
