<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "Schulferien- und Feiertagsübersicht für Deutschland" %>">
    <meta name="author" content="Stefan Wintermeyer">

    <title><%= content_for?(:html_title) ? yield(:html_title) : "Schulferien Kalender Deutschland" %></title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <a href="#content" class="sr-only">Zum Hauptinhalt</a>  

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mehr Schulferien</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% Year.where(value: (Date.today.year .. (Date.today.year + 5))).each do |year| %>
              <% if @year && year == @year %>
                <li class="dropdown active">
              <% else %>
                <li class="dropdown">
              <% end %>              
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= year %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <% FederalState.all.each do |federal_state| %>
                    <li><%= link_to federal_state, federal_state_year_path(federal_state, year) %></li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs"><a href="http://github.com/wintermeyer/mehr-schulferien.de">Developer</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" id="content">
      <div class="row">
        <%= yield %>
      </div>
    </div> <!-- /container -->

    <footer>
      <div class="container">
        <hr />
        <p>Copyright 2014 by <a href="http://wintermeyer.de">Stefan Wintermeyer</a> :: <a href="https://plus.google.com/103611530021484137163?rel=author">Google+</a> :: <%= link_to 'Impressum', page_about_us_path %></p>
      </div>
    </footer> <!-- /footer -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-774512-9', 'mehr-schulferien.de');
      ga('send', 'pageview');

    </script>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  </body>
</html>

